@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  /* height: 3400px; */
  position: relative;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

/*HEADER*/
header {
  font-family: 'Poppins', sans-serif;
  z-index: 999;
  width: 100%;
  background: transparent;
  box-shadow: 0px 0px 10px  1px solid black #00000000;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 15px;
  width: 90%;
}


.left-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.navbar .logo {
  width: 50px;
}

.navbar h1 {
  line-height: 50px;
  font-size: 1.6em;
  margin-left: 10px;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
}

.mid-nav ul {
  display: flex;
  list-style: none;
  font-size: 1em;
  min-width: 400px;
  width: 800px;
  align-items: center;
  justify-content: space-evenly;
}

.mid-nav ul li {
  position: relative;
  text-transform: uppercase;
}



.mid-nav ul li a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  background-color: #FCFFE7;

  height: 3px;
  width: 0;
  transition: 0.3s;
}

.mid-nav ul li a:hover:after {
  width: 100%;
}

/*HAMBURGER MENU*/
.hamburger-menu {
  display: none;
  z-index: 2;
}

#toTop-btn {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 30px;
  z-index: 99;
  outline: none;
  background-color: #061043;
  border: none;
  color: white;
  cursor: pointer;
  padding-top: 7px;
  border-radius: 10px;
  font-size: 2rem;
  line-height: 50px;
  width: 55px;

}

#toTop-btn:hover {
  background-color: #d73939;
}
.floating-left-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0.5%;
  top: 50%;
  z-index: 1;
  padding: 5px;
  border-radius: 5px;
}

.floating-left-nav img {
  background-color: #f6f0f0;
  padding: 3px;
  width: 35px;
  border-radius: 50%;
  box-shadow: 3px 3px 5px rgb(51, 48, 48);
}

.floating-left-nav img:hover {
  width: 30px;
  margin-bottom: 5px;
}

/*ANDREWS*/

 .body{
  font-family: 'Playfair Display',sans-serif;
 }

.hero{
  height:70vh;
  width:100vw;
  background-image: linear-gradient(rgba(91, 21, 5, 0.7), rgba(26, 36, 91, 0.7)), url(/campuses/campus-bg.jpg);

  background-position: center;
  
}
/*ABOUT CSU*/
  /* .about-hero {
       height: 100vh;
    } */

.hero-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:100%;
  /* height:100%; */
  height: 80%;
 padding:50px 0;
}

.hero-container h1{
 font-size: 6rem;
 font-weight: 800;
}

.hero-text{
  max-width:400px;
}

.hero-text p{
  line-height:30px;
  text-align: justify;
  font-size: 1.2rem;
}

/*CAMPUS NAV*/
.campus-nav{
  width:100%;
  height:100px;
  background-color: #f7f4f4ea;
  color:black;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  border-bottom:  1px solid black solid black;
}

.campus-nav ul{
  display: flex;
  align-items: center;
  margin-left:100px;
}

.campus-nav ul li{
  list-style:  none;
  text-decoration: none;
  margin-right: 50px;
  position: relative;
}
.campus-nav a{
  color:black;
}
.campus-nav ul li:nth-child(1){
  font-weight: 800;

}

.campus-nav ul li:not(:first-child) a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom:-2px;
  background-color: #121212;
  height:  1px;
  width: 0;
  transition: 0.3s;
}

.campus-nav ul li a:hover:after {
  width: 100%;
}

#nextbtn{
  display: none;  
}
.main{
  width:100vw;
  color:black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins',sans-serif;
}


.main-about-container{
  padding: 50px 0;
  margin:0 auto;
  width:80vw;
  height: auto;

}

/*ABOUT CSU*/
.main-about-description{
    display: flex;
    justify-content: center;


}
.left{
    max-width:80%;
    padding: 0 20px 0 0;
    border-right: 1px solid #6d6b6b;
}

.left h1{
    font-size: 2.5rem;
    color:#DC0000;
}

.left h4{
    margin-bottom:20px;
}

.left p{
    line-height: 30px;
    text-align: justify;
}
.right{
    padding: 0 0 0 20px;
}

.main-about-container{
    color: #3b3b3b;
}
.main-about-container .main-title{
    text-align: center;
}

.main-about-container .main-title h3{
    font-size: 3rem;
    color: #a00707;
    margin-bottom: 10px;
}
.main-about-container img{
    width:300px;
}
.main-about-container .main-about-description .left-image{
    border-bottom: 1px solid #6d6b6b;
}
.main-about-container .main-about-description .left-image p,.right p{
    background-color: #061043;
    font-size: 1.3rem;
    padding:5px 10px;
    color: white;
    max-width:450px;
    margin-left: 0px;
    margin-bottom: 20px;
}

.left p{
    border-bottom: 1px solid #6d6b6b;
    padding-bottom: 15px;
}
.right p{
    width:100%;
}
.left .annual-reports{
    display: flex;
justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 7px;
    column-gap: 10px;
    margin-top:15px;
}
.left .annual-reports img{
    min-width:280px;
    height:320px;   
    border-radius: 10px;
    border-left: 4px solid rgba(6, 16, 67,1);
    border-bottom: 1px solid rgba(26, 36, 91, 0.6);
    border-right: 1px solid rgba(26, 36, 91, 0.6);
    border-top: 1px solid rgba(26, 36, 91, 0.6);
    transition: 0.225s;
}
.left .annual-reports img:hover{
  opacity: 0.7;
}
/*ADMISSION*/
.admission-container .main-about-description{
  display: flex;
}

.admission-container .right p{
  font-size: 1rem;
  line-height: 30px;
  background-color: white;
  color:#3b3b3b;
}
.admission-container .left p{
  border-bottom:none;
  margin-left:10px;
}
.admission-container .left ul{
  margin-left:50px; 
}

.admission-container .right h1{
  color: #DC0000;
  font-size: 1.5rem;
}
.admission-container .announcement{
  display: flex;
}
.admission-container .announcement h1{
  line-height: 50px;
}
.admission-container img{
  width:50px;
}
/*TABBED PANE*/

.main-container{
  width:80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0;
}

.main .main-nav{
  padding:0 0 8px 0;
  border-bottom: 1px solid #6d6b6b;
}

.main-container .main-nav ul{
  list-style: none;
  display: flex; 
  align-items: center;
  column-gap: 30px;
}
.main-container .main-nav ul li{
  background-color: #061043;
  padding:5px 20px;
  border-radius: 3px;
  font-size: 1.4rem;
  color:white;
  transition: 0.225s;
}

.main-container .main-nav ul li:hover{
  background-color: #061043ed;
  cursor: pointer;
}

.main-container .main-nav ul li.active{
  background-color: #a00707;
}
.main-tab{
  display: none;
}

.main-tab.active{
  display: block;
}

.main-content .main-tab img{
  width:100%;
}
.main-content{
  padding: 30px 0;
}
.main-content h1{
  text-align: center;
  font-size: 2.7rem;
  color: #a00707;
}

/*MEMO SECTION*/
.main .memo-container{
  width:80%;
  margin:0 auto;
}

.main .memo-container h1{
  font-size: 2.7rem;
  color: #a00707;
}
.main .memo-container ul{
  margin-left:30px;
}
.main .memo-container ul li{
  margin-bottom:10px;
}
.main .memo-container ul li a{
  font-size: 1.2rem;
  color:#061043;
}
.main .memo-container ul li a:hover{
  text-decoration: underline;
}

/*OFFICIALS SECTION*/
.officials-container h1{
  font-size: 2.7rem;
  text-align: center;
  color: #a00707;
  margin-bottom: 20px;
}
.officials-container  table{
  border-collapse: collapse;
  min-width:400px;
  margin: 0 auto;
}
.officials-container  table thead{
  background-color: #DC0000;
  font-size: 2rem;
  color: white;
}
.officials-container  table thead th{
  padding:10px 0;
}

.officials-container  table tr{
  height:80px;
}

.officials-container  table td{
  padding: 10px;
  border: 1px solid black;
}
.officials-container  table td:nth-child(1){
  width:50%;
}
.officials-container  table td:nth-child(2){
  width:20%;
}
.officials-container  table td:nth-child(3){
  color: #3b3b3b;
}

.officials-container .main-nav ul li:hover{
  background-color: #061043ed;
  cursor: pointer;
}

.officials-container .main-nav  ul li.active{
  background-color: #a00707;
}

.officials-container .main-tab{
  display: none;
}
.officials-container .main-tab.active{
  display: block;
}

/*MAP SECTION*/
.map-section{
  width:100vw;
  color: #3b3b3b;
  margin-top: 100px;
  /* background-color: #f4f1f1df; */
}
.contacts-container{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding:40px;
  justify-content: center;
  margin-bottom: 30px;
  width:100vw;
  display: flex;
  row-gap: 30px;
  column-gap: 20px;
}

.contacts-container .form{
  min-width:400px;
  width:900px;
  background-color: #061043;
  height:670px;
  padding: 20px 30px;
}
.contacts-container .form .form-title, .form span{
  color: white;
}
.contacts-container .form .form-title{
  font-size: 2rem;
}
.contacts-container .form span{
  font-size: 1.4rem;
}
.contacts-container .form .input{
  margin-bottom: 15px;
}
.contacts-container .form input{
  min-height:30px;
  padding-left: 10px;
  font-size: 0.8rem;
  font-family: 'Poppins',sans-serif;
}
.contacts-container .form input, textarea{
  width:100%;
  padding-left: 10px;
}
.contacts-container .form textarea{
  height:200px;
  padding-top:5px;
  font-size: 0.8rem;
  font-family: 'Poppins',sans-serif;
}
.contacts-container .form button{
  font-size: 1.2rem;
  padding:5px 20px;
  background-color: white;
  border: none;
  border-radius: 3px;
  float: right;
  font-family: 'Poppins',sans-serif;
}
.contacts-container .form button:hover{
  cursor: pointer;
}
.contacts-container .contact-flex{
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  column-gap: 10px;
  row-gap: 10px;
  background-color: #f6f0f0;
  padding:30px;
  min-width:400px;
}
.contacts-container .contact{
  min-width:400px;
  margin-bottom:10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e0e0;
}
.contacts-container .contact h3{
  margin-bottom: 5px;
  font-size: 1.1rem;
  color: #DC0000; 
}
.contacts-container .contact p{
  font-size: 0.8rem;
}
.contacts-container .contact .email{
  display: flex;
  margin-left:8px;
}
.contacts-container .contact img{
  width:20px;
  color:#061043;
}
.map-section{
  font-family: 'Poppins',sans-serif;
  width:100vw;
  padding:50px 0;
}
.map-section h1{
  text-align: center;
  font-size: 2.7rem;
  color: #a00707; 
}

.map-section .hr{
  margin-bottom:50px;
}
.map-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:60%;
  min-width:450px;
  margin: 0 auto;
  margin-bottom:60px;
}
.map-container .map-upper{
  text-align: center;
  font-size: 1.6rem;
  line-height: 50px;
  background-color:#061043;
  height:50px;
  width:100%;
  color:white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.map-container .map-lower{
  height:30px;
  width:100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color:#061043;
}
.map-container iframe{
  width:100%;
}

/*CARD SECTION*/

.card-section,.card-section1{
  margin-top: 70px;
  background-color:#f7f4f4ea;
  padding: 50px;

}
.card-section1{
    margin-top: 20px;
    background-color: white;
}
.card-section1 .cards-container{
    max-width: 80%;
    margin: 0 auto;
}
.card-section .main-title, .card-section1 .main-title{
    text-align: center;
    font-size: 2.6rem;
    color: #a00707;
    margin-bottom: 50px;
}
.card-background{
  width: auto;
  margin: 0 auto;
}

.cards-container{
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  row-gap: 30px;
}


.card-container{
  overflow: hidden;
  width:300px;
  height:450px;
  border-radius: 3%;
  background-color: rgb(253, 253, 253);
  box-shadow: 5px 5px 10px #6d6b6b;
}

.card-container:hover{
  background-color: rgb(230, 227, 227);
  cursor: pointer;
}

.card-container:hover img{
  transform: scale(1.1);

}

.card-container img{
  transition: 0.125s ease-in-out;
  width:100%;
  height:70%;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}



.card-container .text-container{
  color:black;
  text-align: center;
  padding:5px 15px;
}
.card-container .text-container h6{
  margin-bottom:5px;
  color:#DC0000;
}
.card-container .text-container h1{
 font-size: 1.3rem;
margin-bottom: 5px;
}

.card-container .text-container p{
  font-size: 0.8rem;
  line-height: 25px;
}



/*FOOTER SECTION*/

.footer {
  position: static;
  left:0;
  bottom:0;
  width: 100vw;
  background-color: #061043;
  padding: 50px 50px 20px 50px;
  font-family: 'Poppins',sans-serif;
}

footer {
  margin: 0 auto;
  max-width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

footer .footer-content {
  display: flex;
  justify-content: space-between;

}

.footer p {
  font-size: 0.8rem;
  margin-top: 50px;
  text-align: center;
  color: rgba(242, 236, 236, 0.623);
}

.logo-footer img {
  margin-top: 20px;
  margin-right: 50px;
  width: 100px;
}

.footer-content .card1 {
  flex: 1;
}

/* footer .card1 {
  width: 20%;
}

footer .card1:nth-child(3){
  width:30%;
} */
.footer-content .card1 .content {
  margin-bottom: 15px;
}

.footer-content .card1 h3 {
  margin-bottom: 3px;
  color: #FFD700;
  font-size: 1.1rem;
}

.footer-content .card1 h6, .footer-content a {
  font-size: 0.7rem;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.755);
  font-weight: 300;
}
.footer-content a {
  font-size: 0.8rem;
}
.footer-content a:hover{
  color:white;
}

.footer-content .card1:nth-child(3) {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.755);

}

.footer-content .card1:nth-child(3) .inner-content {
  margin-bottom: 10px;
}

.footer-content .card1 img {
  width: 10px;
  margin-right: 5px;

}


.hr{
  margin:0 auto 50px auto;
  height:3px;
  width:60%;
  background-color: black;
}



@media only screen and (max-width:1480px) {

  .mid-nav {
    text-align: center;
    width: 100vw;
    height: 80px;
    position: absolute;
    top: -100%;
    left: 0;
    background: #DC0000;
    z-index: 1;
    transition: 0.2s;
  }

  .mid-nav.active {
    height: 100vh;
    /* left: 0; */
    top: 0;
    left: 0;
  }


  .mid-nav.active ul {
    opacity: 1;
  }

  .mid-nav ul {
    display: block;
    width: fit-content;
    margin: 70px auto 0 auto;
    opacity: 0;

  }

  .mid-nav ul li {
    margin-bottom: 40px;
  }

  .mid-nav ul li a {
    color: white;
    font-size: 1.5rem;
  }

  .mid-nav ul li a:after {
    display: none;
  }

  .mid-nav ul li a:hover {
    opacity: 0.7;
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
  }

  .hamburger-menu .line {
    width: 35px;
    height: 5px;
    border-radius: 3px;
    background: white;
    margin: 6px 0;
  }

  .right-nav.active .enroll-btn {
    display: none;
  }
}

@media only screen and (max-width:1067px){

  .logo-footer img {
      display: none;
    }
  
    .footer-content .card1 h3 {
      margin-bottom: 3px;
      color: #FFD700;
      font-size: 1rem;
    }
  
    .footer-content .card1 h6 {
      font-size: 0.7rem;
      margin-bottom: 10px;
      color: rgba(255, 255, 255, 0.755);
      font-weight: 300;
    }
  
    .footer-content .card1:nth-child(3) {
      font-size: 0.7rem;
      color: rgba(255, 255, 255, 0.755);
    }
  
    .hamburger-menu .line {
      width: 25px;
      height: 3px;
      border-radius: 3px;
      background: white;
      margin: 6px 0;
    }

    .hero{
      height:50vh;
    }

    .hero-container{
      flex-direction: column;

    }

    .hero-container h1{
      font-size: 3rem;
      text-align: center;
    }

        .hero-container p{
          font-size: 1.1rem;
        }

        .main-about-container{
            width: 100vw;
        }
.main-about-container .right{
    display: none;
}
.main-about-container .left{
    border: none;
    width: 100%;
}
.main-about-container .main-title h3, .card-section .main-title h3, .card-section1 .main-title h3{
font-size: 1.8rem;
}
.main-about-container .left .left-image p{
    font-size: 1rem;
    width:330px;
}
.main-about-container .left p{
    font-size: 0.9rem;
}
.main-about-container .left h1{
    font-size: 1.4rem;
}
.main-about-container .left h4{
    font-size: 1rem;
}
.main-about-container .left p{
    line-height: 25px;
}

/*ADMISSION*/
.admission-container{
  width:80%;
}
.admission-container .main-about-description{
  flex-direction: column;
}
.admission-container .right p{
  font-size: 1rem;
  line-height: 30px;
  background-color: white;
  color:#3b3b3b;
}

.admission-container .left{
  margin-bottom:20px;
  border-bottom: 1px solid #6d6b6b;
}
.admission-container .main-about-description .right{
  display: block;
}


.annual-reports{
    column-gap:5px;
}
.main-about-container .annual-reports img{
    width:  0px;
}


/*OFFICIALS*/
.officials-container{
  width:95vw;
}
.officials-container h1{
  font-size: 1.6rem;
}

.officials-container table thead th{
  font-size: 1.1rem;
  padding:0px;
}
.officials-container table tbody tr td{
  font-size: 0.7rem;
}

.main-about-container1 .main-about-description img {
   display: none;
}
.main-about-container1 .main-about-description p{
  border:none;
  font-size: 0.9rem;
}
.main-about-container1 h6{
  font-size: 0.7rem;
}
.main-about-container3 .main-about-description{
  width:340px;
}
.main-about-container3 .right{
  display: none;
}
.main-about-container3 .left{
  border-right:none;
}
.main-about-container5 h2{
  margin-bottom: 6px;
}
.main-about-container .mission, .vision{
  line-height: 20px;
}
.main-about-container5 .core-values-container .core-values div p{
  font-size: 0.9rem;
  margin-bottom:3px;
}
.main-about-container5 .core-values-container ul{
  width:380px;
}
.main-about-container5 .core-values-container .core-values li{
  font-size: 0.9rem;
  margin-bottom:3px;
}

.main-about-description {
  width: 100%;
}

.main-about-description p, .main-about-container3 p{
  font-size: 0.9rem;
}

.main-learn-more {
  width: 60%;
}

.main-learn-more img {
  width: 25px;
}

.main-learn-more p {
  font-size: 0.8rem;
}

.section-title {
  font-size: 2.3rem;
}

.contact-section h2 {
  font-size: 1rem;
}
.main .memo-container h1{
  font-size: 1.6rem;
}
.main .memo-container ul li{
  margin-bottom:5px;
}
.main .memo-container ul li a{
  font-size: 0.9rem;

}

/*CONTACT*/
.map-section h1, .contacts-section h1{
  font-size: 1.7rem;
}
.map-section .contacts-section .form{
  height:610px;
}
.contacts-section .hr{
  margin-bottom:0px;
}
.map-section .contacts-section .form .form-title{
  font-size: 1.5rem;
}
.map-section .contacts-section span{
  font-size: 0.8rem;
}
.map-section .contacts-section .form button{
  font-size: 1rem;
}
}

@media only screen and (max-width:600px) {
.campus-nav ul li:not(:first-child){
  display: none;
}

.floating-left-nav{
  display: none;
}
#nextbtn{
  display: block;
  font-size: 1.5rem;
}



#campus{
  display: block;
}
  .navbar h1 {
    font-size: 1.1rem;
  }

  .navbar h2 {
    font-size: 1.2rem;
  }

  .mid-nav ul li a {
    font-size: 1.2rem;
  }

  .right-nav {
    top: 96%;
  }


    .hero-container h1 {
      font-size: 2.7rem;
    }
  
    .hero-container p {
      font-size: 1rem;
    }

        .main-about-container{
          flex-direction: column;
        }
        .main-about-container h1{
          font-size: 1.7rem;
        }
        .main-about-description{
          width:100%;
        }
        .main-about-description p{
          font-size: 0.9rem;
        }

/*ADMISSION*/
.admission-container .left ul li{
  font-size: 0.9rem;
  line-height:25px;
}
.admission-container .right h1{
  font-size: 1.2rem;

}
.admission-container .right{
  padding: 0px;
}
/*TABBED PANE*/
.main-content h1{
  font-size: 1.2rem;
}

.main-container .main-nav ul li{
  font-size: 0.7rem;  
}
.admission-container img{
  width:30px;
  height:30px;
}
.admission-container .right .announcement{
  align-items: center;
}
/*OFFICIALS*/

.main-about-container1 .main-about-description p {
  font-size: 0.9rem;
  line-height:25px;
}

.main-about-container1 h6 {
  font-size: 0.5rem;
  margin-bottom:10px;
  text-align: center;
}
.main-about-container2 .main-about-description{
  width:100%;
  border: none;
}

.main-about-container2 .main-about-description h2, .main-about-container4 h2, .main-about-container5 h2{
  font-size: 1.2rem;
  margin-bottom:3px;
}
.main-about-container2 .main-about-description li, .main-about-container5 li{
  margin-bottom:5px;
}
.main-about-container2 .main-about-description .philosophy p, .mandate p, .main-about-container4 p, .main-about-container4 ul li{
  font-size: 0.9rem;
  line-height:25px;
}

.main-about-container5 .core-values-container .core-values{
  flex-direction: column;
}

.main-learn-more {
  width: 100%;
}
        .main-learn-more img{
          width: 25px;
        }
        .main-learn-more p{
          font-size: 0.8rem;
        } 
        .card-container{
          width:250px;
          height:400px;
        }
        .card-container .text-container{
          padding:7px 15px;
        }
        .card-container .text-container h6{
          font-size: 0.6rem;
        }

       .card-container .text-container h1{
          font-size:1rem;
        }
       .card-container .text-container p{
        font-size: 0.7rem;
        line-height: 20px;
       }

             .footer-content {
               flex-direction: column;
               text-align: center;
             }
      
             .campus-description h1 {
               font-size: 1.7rem;
             }
      
             .card1 {
               margin-bottom: 5px;
             }
      
             .campuses-title {
               font-size: 2.1rem;
             }
      
             .campuses p {
               font-size: 0.6rem;
             } 

            .section-title {
                 font-size: 1.8rem;
              }

.contact-section h2 {
  font-size: 0.8rem;
}
            /*FACULTY*/

            .table-section th{
              font-size: 0.7rem;
            }
            .table-section tr{
              font-size: 0.6rem;
            }
            /*COLLEGE*/
             
        
            /*COURSES*/
            .college-section table th{
              font-size:0.7rem;
        }
      .college-section table tr{
               font-size: 0.6rem;
}
}

@media only screen and (max-width:480px) {
  .navbar h1 {
    display: none;
  }

  .navbar h2 {
    font-size: 5rem;
  }
}
